# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

- name: Update build_stream credentials
  block:
    - name: Set build_stream_auth_username from user input
      ansible.builtin.set_fact:
        build_stream_auth_username: "{{ username_input.user_input }}"
      no_log: true
      when:
        - username_status | default(false)
        - username_input is defined
        - username_input.user_input is defined
        - username_input.user_input | length > 0

    - name: Use existing username when username not updated
      ansible.builtin.set_fact:
        build_stream_auth_username: "{{ vars['build_stream_auth_username'] | default('') }}"
      no_log: true
      when: not username_status | default(false)

    - name: Generate SSHA password hash for build stream registrar
      generate_ssha_password:
        password: "{{ password_input.user_input }}"
      register: password_hash
      no_log: true
      when:
        - password_status | default(false)
        - password_input is defined
        - password_input.user_input is defined
        - password_input.user_input | length > 0

    - name: Set password hash variable
      ansible.builtin.set_fact:
        build_stream_auth_password_hash: "{{ password_hash.pswd_ssha }}"
      no_log: true
      when:
        - password_hash is defined
        - password_hash is succeeded
        - password_hash.pswd_ssha is defined

    - name: Use existing password hash when password not updated
      ansible.builtin.set_fact:
        build_stream_auth_password_hash: "{{ vars['build_stream_auth_password_hash'] | default('') }}"
      no_log: true
      when: not password_status | default(false) or password_hash is not defined or password_hash is not succeeded

    - name: Update build_stream credential file
      ansible.builtin.template:
        src: "{{ role_path }}/../create_config/templates/build_stream_credential.j2"
        dest: "{{ bs_credential_file }}"
        mode: "{{ bs_credential_file_mode }}"
      no_log: true

    - name: Encrypt build_stream credential file after updates
      ansible.builtin.command: >-
        ansible-vault encrypt "{{ bs_credential_file }}"
        --vault-password-file "{{ bs_credential_vault_path }}"
      when: bs_credential_file is file
      changed_when: false

  rescue:
    - name: Encrypt build_stream credential file on error
      ansible.builtin.command: >-
        ansible-vault encrypt "{{ bs_credential_file }}"
        --vault-password-file "{{ bs_credential_vault_path }}"
      when: bs_credential_file is file
      changed_when: false

    - name: Fail to update build stream credentials
      ansible.builtin.fail:
        msg: "Failed to update build_stream credentials"
