# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# Decrypt, include variables, and re-encrypt credential files
# This task handles both encrypted and unencrypted credential files

- name: Load encrypt files variables
  ansible.builtin.include_vars:
    file: "{{ role_path }}/../../../vars/encrypt_files_vars.yml"

- name: Validate required parameters
  ansible.builtin.fail:
    msg: "{{ parameter_validation_error }}"
  when:
    - credential_file_path is not defined
    - vault_password_file is not defined

- name: Check credential file existence
  ansible.builtin.stat:
    path: "{{ credential_file_path }}"
  register: cred_file_stat

- name: Skip processing for non-existent files
  ansible.builtin.debug:
    msg: "{{ file_not_found_msg }}"
  when: not cred_file_stat.stat.exists

- name: Process credential file
  when: cred_file_stat.stat.exists
  block:
    - name: Check if file is encrypted
      ansible.builtin.shell: >-
        set -o pipefail && head -n1 "{{ credential_file_path }}" | grep -q '\$ANSIBLE_VAULT;'
      register: is_encrypted
      changed_when: false
      failed_when: false

    - name: Include unencrypted file directly
      ansible.builtin.include_vars: "{{ credential_file_path }}"
      no_log: true
      when: is_encrypted.rc != 0

    - name: Process encrypted file
      when: is_encrypted.rc == 0
      block:
        - name: Check vault key existence
          ansible.builtin.stat:
            path: "{{ vault_password_file }}"
          register: vault_key_stat

        - name: Fail if vault key missing for encrypted file
          ansible.builtin.fail:
            msg: "{{ vault_key_missing_error }}"
          when: not vault_key_stat.stat.exists

        - name: Decrypt credential file
          ansible.builtin.command: >-
            ansible-vault decrypt "{{ credential_file_path }}"
            --vault-password-file "{{ vault_password_file }}"
          register: decrypt_result
          changed_when: false

        - name: Include decrypted variables
          ansible.builtin.include_vars: "{{ credential_file_path }}"
          no_log: true
          when: decrypt_result is succeeded

        - name: Re-encrypt credential file
          ansible.builtin.command: >-
            ansible-vault encrypt "{{ credential_file_path }}"
            --vault-password-file "{{ vault_password_file }}"
          changed_when: false
          when: decrypt_result is succeeded

  rescue:
    - name: Cleanup on decryption failure
      block:
        - name: Re-encrypt file if partially decrypted
          ansible.builtin.command: >-
            ansible-vault encrypt "{{ credential_file_path }}"
            --vault-password-file "{{ vault_password_file }}"
          changed_when: false
          failed_when: false
          when:
            - decrypt_result is defined
            - decrypt_result is succeeded

        - name: Fail with error message
          ansible.builtin.fail:
            msg: "{{ file_processing_error }}"
